{% block batchActions %}
                <div class="span5 columns batch_action">
                    <form action="" method="post">
                        {% trans %}Actions{% endtrans %}
                        <select name="batchSelect" id="batchSelect" class="small">
                            <option></option>
                        {% for name, action in generator.getListBatchActions %}
                            <option value="{{ name }}">{{ action.label | trans }}</option>
                        {% endfor %}
                            </select>
                        <button type="submit">{% trans %}go{% endtrans %}</button>
                    </form>
                </div>
{% endblock %}